<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">

    <mat-form-field>
      <input matInput type="text" name="title" ngModel required #title="ngModel">
    </mat-form-field>
    <mat-error *ngIf="title.invalid">Please, enter a post title!</mat-error>

    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel required #content="ngModel"></textarea>
    </mat-form-field>
    <mat-error *ngIf="content.invalid">Please, enter a content message!</mat-error>

    <button mat-raised-button color="accent" type="submit" >Save Post</button>

  </form>
</mat-card>

